<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="Manifest.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.itant.rt.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name="com.itant.rt.ui.home.HomeActivity"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.control.ControlActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:exported="false"/>

        <activity android:name=".ui.follow.FollowActivity"
            android:exported="false"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.scanhw.HwScanActivity"
            android:exported="false"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.edit.EditActivity"
            android:exported="false"
            android:configChanges="locale|orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <service
            android:name="com.itant.rt.ui.follow.stream.ScreenService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|dataSync" />

        <service
            android:name=".ui.control.ControlService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|dataSync" />

        <service
            android:name=".ui.follow.action.ActionService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:foregroundServiceType="mediaProjection|dataSync">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>